{% extends 'usuarios/base.html' %}

{% block title %}Histórico de Triagens{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2>Histórico de Triagens</h2>

    <table class="table table-striped mt-4">
        <thead>
            <tr>
                <th>Paciente</th>
                <th>Pressão</th>
                <th>Temperatura</th>
                <th>Data</th>
            </tr>
        </thead>
        <tbody>
            {% for t in triagens %}
            <tr>
                <td>{{ t.paciente.nome }}</td>
                <td>{{ t.pressao_arterial }}</td>
                <td>{{ t.temperatura }}</td>
                <td>{{ t.data_triagem }}</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="4">Nenhuma triagem registrada.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
