{% extends 'usuarios/base.html' %}
{% block content %}

<p><strong>Médico logado:</strong> {{ request.user.get_full_name }}</p>

<h2>Atendimento: {{ atendimento.paciente.nome }}</h2>

{% if medicacoes_dia %}
    <div class="alert alert-info">
        <strong>Medicações já prescritas hoje:</strong>
        <ul>
            {% for prescricao, medico, hora in medicacoes_dia %}
                <li>{{ prescricao }} — <em>{{ medico }}</em> às {{ hora|time:"H:i" }}</li>
            {% endfor %}
        </ul>
    </div>
{% endif %}

<form method="post">
    {% csrf_token %}

    <div class="mb-3">
        <label>Diagnóstico</label>
        <textarea name="diagnostico" class="form-control">{{ atendimento.diagnostico }}</textarea>
    </div>

    <div class="mb-3">
        <label>Prescrição</label>
        <textarea name="prescricao" class="form-control">{{ atendimento.prescricao }}</textarea>
    </div>

    <div class="mb-3">
        <label>Observações</label>
        <textarea name="observacoes" class="form-control">{{ atendimento.observacoes }}</textarea>
    </div>

    <div class="mb-3">
        <label>Decisão</label>
        <select name="decisao" class="form-select" required>
            <option value="">-- Selecione --</option>

            <option value="dispensar"
                {% if atendimento.decisao == "dispensar" %}selected{% endif %}>
                Dispensar
            </option>

            <option value="medicacao"
                {% if atendimento.decisao == "medicacao" %}selected{% endif %}>
                Medicação
            </option>

            <option value="internacao"
                {% if atendimento.decisao == "internacao" %}selected{% endif %}>
                Internação
            </option>
        </select>
    </div>

    <button type="submit" class="btn btn-success">Salvar</button>
</form>

{% endblock %}
