<h2>Exames Pendentes - Laboratório</h2>

<table border="1">
    <tr>
        <th>Paciente</th>
        <th>Exame</th>
        <th>Data</th>
        <th>Ação</th>
    </tr>

    {% for exame in exames %}
    <tr>
        <td>{{ exame.atendimento.paciente.nome }}</td>
        <td>{{ exame.nome }}</td>
        <td>{{ exame.data_solicitacao|date:"d/m/Y H:i" }}</td>
        <td>
            <a href="{% url 'inserir_resultado' exame.pk %}">
                Inserir Resultado
            </a>
        </td>
    </tr>
    {% endfor %}
</table>