{% extends 'usuarios/base.html' %}

{% block content %}
<h1 class="mb-4">Login</h1>
{% if error %}
<div class="alert alert-danger">{{ error }}</div>
{% endif %}
<form method="post">
    {% csrf_token %}
    <div class="mb-3">
        <label for="username" class="form-label">Usuário</label>
        <input type="text" name="username" class="form-control" id="username" required>
    </div>
    <div class="mb-3">
        <label for="password" class="form-label">Senha</label>
        <input type="password" name="password" class="form-control" id="password" required>
    </div>
    <button type="submit" class="btn btn-primary">Entrar</button>
</form>
{% endblock %}
